<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
	</configSections>
	<configBuilders>
		<builders>
			<add name="Secrets" userSecretsId="c725a461-ef3f-4293-a519-69a5e3ba0ba2" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</builders>
	</configBuilders>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" />
		<authentication mode="Windows" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<connectionStrings>
		<add name="ConnDB" connectionString="Data Source=DDUCCA52\SQLEXPRESS;Initial Catalog=ShopPerfume;User ID=sa;Password=123456;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--VNPAY SETTINGS-->
		<add key="vnp_Url" value="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html" />
		<add key="vnp_Api" value="https://sandbox.vnpayment.vn/merchant_webapi/api/transaction" />
		<add key="vnp_TmnCode" value="YU0PSVEO" />
		<add key="vnp_HashSecret" value="BZCXNVDGTPDYVBPEAUUJPJJFAECJWQTS" />
		<add key="vnp_Returnurl" value="http://localhost:44335/HoaDon.aspx" />
	</appSettings>
</configuration>
